{% extends 'base.html.twig' %}

{% block title %}ClientController!{% endblock %}

{% block body %}

    <div class="m-3">
        <p>Your ID: {{ userId }}</p>
        <p>Your name: {{ firstName }}</p>
        <p>Your email: {{ email }}</p>
        <p>Your role: {{ role }}</p>
    </div>

{% endblock %}
