{% extends 'base.html.twig' %}

{% block title %}Hello SalespersonController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <h2>•	Prodavcev meni treba da ima opciju Sales</h2>
</div>
{% endblock %}
